.not-found {
  color: brown;
  background-color: #ffff;
}

.category-secion {
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif, "Montserrat";
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
}

.engineer-emoji {
  line-height: 6rem;
  font-size: 6rem;
}
